<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasofa | Tentang Kami</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/style/body.css">
    <link rel="stylesheet" href="../public/style/about.css">
    <link rel="stylesheet" href="../public/style/navbar.css">
    <link rel="stylesheet" href="../public/style/footer.css">
</head>
<body>
    <div class="container-navbar">
        <div class="navbar">
            <img class="logo" src="../public/asset/logo.svg" alt="logo jasofa">
            <img class="hamburger" id="hamburger" src="../public/asset/hamburger.svg" alt="">
            <div class="ul" id="ul-navbar">
                <a href="index.html" class="list">
                    <p>Beranda</p>
                </a>
                <a href="about.html" class="list active">
                    <p>Tentang Kami</p>
                    <img src="../public/asset/bottom_line.svg" alt="bottom line">
                </a>
                <a href="service.html" class="list">
                    <p>Servis</p>
                </a>
                <a href="price-list.html" class="list">
                    <p>Harga</p>
                </a>
                <a href="contact.html" class="list">
                    <p>Kontak</p>
                </a>
            </div>
        </div>
        <div class="title-wrapper">
            <div class="title">
                <h1>About</h1>
                <p>Tentang Kami</p>
            </div>
        </div>
        <img src="../public/asset/benner.webp" alt="benner">
    </div>

    <div class="container-body">
        <div class="container-overview">
            <div class="welcoming-word">
                <h1 class="title">Kami menciptakan pengalaman bersih tanpa noda untuk sofa kesayangan anda</h1>
                <div class="description">
                    <p>Selamat datang di layanan kebersihan profesional kami di Magelang! Kami siap membantu menjaga kebersihan sofa, spring bed, dll dengan peralatan canggih serta bahan ramah lingkungan.</p>
                    <p>Percayakan kebersihan ruang Anda kepada tim ahli kami sejak 2019. Kami melayani perumahan, perkantoran, hotel, dan tempat ibadah dengan garansi kepuasan pelanggan.</p>
                    <a href="" class="btn-checkout">
                        <img src="../public/asset/shopping-cart_.svg" alt="shopping-cart-icon">Pesan Sekarang
                    </a>
                </div>
            </div>
            <div class="img-preview">
                <img src="../public/asset/Frame 25.webp" alt="" srcset="">
            </div>
        </div>
        <div class="container-operating-hours">
            <div class="operational-day-wrapper">
                <img src="../public/asset/calendar.svg" alt="">
                <div class="operational-day">
                    <h1>Buka Setiap Hari</h1>
                    <h1 class="except">Kecuali Hari Jum'at</h1>
                </div>
            </div>
            <div class="operating-hours">
                <div class="hours-wrapper">
                    <img src="../public/asset/clock.svg" alt="Clock Icon">
                    <div>
                        <p>Buka jam</p>
                        <p class="hours">07.00 WIB</p>
                    </div>
                </div>
                <img class="long-arrow" src="../public/asset/long-arrow.svg" alt="Arrow Icon">
                <img class="sort-arrow" src="../public/asset/dark-arrow.svg" alt="Arrow Icon">
                <!-- <div >
                </div> -->
                <div class="hours-wrapper">
                    <img src="../public/asset/clock.svg" alt="Clock Icon">
                    <div>
                        <p>Tutup jam</p>
                        <p class="hours">20.00 WIB</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-advantages">
            <h1>Keunggulan Jasofa Cleaning</h1>
            <div class="advantage-wrapper">
                <div class="advantage">
                    <div class="content">
                        <img src="../public/asset/check.svg" alt="Check Icon">
                        <p>Tersedia layanan <span>cuci sofa, cuci springbed, cuci jok mobil, cuci gorden</span>, dan <a href="">lihat lebih banyak.</a></p>
                    </div>
                    <div class="content">
                        <img src="../public/asset/check.svg" alt="Check Icon">
                        <p>Memberikan <span>garansi kepuasan</span> kepada pelanggan.</p>
                    </div>
                    <div class="content">
                        <img src="../public/asset/check.svg" alt="Check Icon">
                        <p>Layanan berkualitas dengan <span>harga yang terjangkau</span> dan <span>ramah di kantong</span>.</p>
                    </div>
                    <div class="content">
                        <img src="../public/asset/check.svg" alt="Check Icon">
                        <p>Menggunakan <span>teknologi pembersihan modern</span> yang berkualitas.</p>
                    </div>
                    <div class="content">
                        <img src="../public/asset/check.svg" alt="Check Icon">
                        <p>Memiliki <span>jangkauan luas</span>, mencakup perumahan, perkantoran, tempat ibadah, hotel, homestay, kost, dan lainnya.</p>
                    </div>
                </div>
                <div class="advantage">
                    <div class="content">
                        <img src="../public/asset/check.svg" alt="Check Icon">
                        <p>Melayani <span>panggilan</span> ke lokasi.</p>
                    </div>
                    <div class="content">
                        <img src="../public/asset/check.svg" alt="Check Icon">
                        <p>Menggunakan <span>sabun organik berkualitas</span> yang ramah terhadap bahan dan lingkungan serta <span>bebas dari bahan kimia berbahaya</span>.</p>
                    </div>
                    <div class="content">
                        <img src="../public/asset/check.svg" alt="Check Icon">
                        <p><span>Layanan Cepat & Profesional</span> – Tim ahli siap membantu dengan pelayanan terbaik.</p>
                    </div>
                    <div class="content">
                        <img src="../public/asset/check.svg" alt="Check Icon">
                        <p>Terbukti terpercaya, dibuktikan dengan berbagai <span>umpan balik positif</span> dari pelanggan selama <span>lebih dari 4 tahun</span>.</p>
                    </div>
                    <div class="content">
                        <img src="../public/asset/check.svg" alt="Check Icon">
                        <p><span>Berkomitmen</span> untuk menjaga kualitas pelayanan dan kepuasan pelanggan.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-location">
            <div class="title">
                <img src="../public/asset/map.svg" alt="Map Icon">
                <h1>Temukan Jasofa di</h1>
            </div>
            <div class="location-wrapper">
                <div class="location">
                    <p>RT03/RW03, Dusun Trojayan, Desa Paremono, Kecamatan Mungkid, Kabupaten Magelang, Jawa Tengah 56512</p>
                    <div class="whatsapp">
                        <p>Atau hubungi kami melalui WhatsApp</p>
                        <a href="" class="btn-whatsapp">
                            <img src="../public/asset/whatsapp.svg" alt="shopping-cart-icon">Hubungi Kami
                        </a>
                    </div>
                </div>
                <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3526.144436906921!2d110.35294427447862!3d-7.747338976808894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a588b69ee62ad%3A0x1b03de2cbc7b2bcb!2sKampus%201%20UTY!5e1!3m2!1sid!2sid!4v1742985445295!5m2!1sid!2sid" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container-footer">
        <div class="contact-wrapper">
            <div class="contact-title">
                <img src="../public/asset/user-alt.svg" alt="User Icon">
                <p>Kontak</p>
            </div>
            <div>
                <p>Whatsapp :<br>+62 895-0512-0447</p>
            </div>
            <div>
                <p>Telepon :<br>+62 895-0512-0447</p>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="footer-content">
                <div class="content">
                    <p class="title">Sosial Media</p>
                    <div>
                        <img src="../public/asset/instagram.svg" alt="Instagram Icon">
                        <a href="">@jasofa</a>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Quick Links</p>
                    <div>
                        <img src="../public/asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Beranda</a>
                    </div>
                    <div>
                        <img src="../public/asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Tentang Kami</a>
                    </div>
                    <div>
                        <img src="../public/asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Layanan</a>
                    </div>
                    <div>
                        <img src="../public/asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Kontak</a>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Layanan Kami</p>
                    <div>
                        <img src="../public/asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Sofa</a>
                    </div>
                    <div>
                        <img src="../public/asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Sprinbed</a>
                    </div>
                    <div>
                        <img src="../public/asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Kursi Kantor</a>
                    </div>
                    <div>
                        <img src="../public/asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Jok Mobil</a>
                    </div>
                    <div>
                        <img src="../public/asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Karpet</a>
                    </div>
                </div>
                <div class="content contact-wrapper-resp">
                    <p class="title">Kontak</p>
                    <div>
                        <img src="../public/asset/arrow.svg" alt="Arrow Icon">
                        <a href="">+62 895-0512-0447 (Whatsapp)</a>
                    </div>
                    <div>
                        <img src="../public/asset/arrow.svg" alt="Arrow Icon">
                        <a href="">+62 895-0512-0447 (Telepon)</a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>"© 2025 Jasofa Clean. <span >All rights reserved</span>. Designer by <a href="">Ilham Ramadhani</a>, Developer by <a href="">Akmal Yunus</a></p>
            </div>
        </div>
    </div>

    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/navbar.js"></script>
</body>
</html>