<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hubungi jasofa magelang dengan mudah melalui nomor +6281876592877. Admin akan menanggapi pesan anda dengan cepat.">
    <meta name="keywords" content="kontak jasofa magelang, kontak jasofa jogja magelang, kontak cuci sofa magelang, nomor jasofa magelang, nomor jasofa jogja magelang">
    <title>Jasofa - Kontak Kami</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/body.css">
    <link rel="stylesheet" href="style/contact.css">
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="container-navbar">
        <div class="navbar">
            <img class="logo" src="asset/logo.svg" alt="logo jasofa">
            <img class="hamburger" id="hamburger" src="asset/hamburger_2.svg" alt="">
            <div class="ul" id="ul-navbar">
                <a href="index.html" class="list">
                    <p>Beranda</p>
                </a>
                <a href="about.html" class="list">
                    <p>Tentang Kami</p>
                </a>
                <a href="service.html" class="list">
                    <p>Servis</p>
                </a>
                <a href="price-list.html" class="list">
                    <p>Harga</p>
                </a>
                <a href="contact.html" class="list active">
                    <p>Kontak</p>
                    <img src="asset/bottom_line_2.svg" alt="bottom line">
                </a>
            </div>
        </div>
        <div class="title-wrapper">
            <div class="title">
                <h1>Kontak</h1>
                <p>Hubungi Kami</p>
            </div>
        </div>
        <img src="asset/benner.webp" alt="benner">
    </div>

    <div class="container-body">
        <div class="container-location">
            <div class="title">
                <h1>Hubungi Kami Segera !!!</h1>
                <p>Untuk sofa yang nyaman & bersih</p>
            </div>
            <div class="location-wrapper">
                <div class="location">
                    <div class="description" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                        <img src="asset/ct-phone.svg" alt="Phone Icon">
                        <div class="detail">
                            <p class="detail-title">Telepon</p>
                            <p>+62 895-0512-0447</p>
                        </div>
                    </div>
                    <div class="description" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                        <img src="asset/ct-instagram.svg" alt="Instagram Icon">
                        <div class="detail">
                            <p class="detail-title">Instagram</p>
                            <p>@ajhsga</p>
                        </div>
                    </div>
                    <div class="description" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                        <img src="asset/ct-whatsapp.svg" alt="Whatsapp Icon">
                        <div class="detail">
                            <p class="detail-title">Whatsapp</p>
                            <p>+62 895-0512-0447</p>
                        </div>
                    </div>
                    <div class="description" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                        <img src="asset/ct-maps.svg" alt="Map Icon">
                        <div class="detail">
                            <p class="detail-title">Alamat</p>
                            <p>RT03/RW03, Dusun Trojayan, Desa Paremono, Kecamatan Mungkid, Kabupaten Magelang, Jawa Tengah 56512</p>
                        </div>
                    </div>
                </div>
                <div class="maps">
                    <iframe src="https://maps.app.goo.gl/9xgHPKQxGXRXMTo28?g_st=ac" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container-footer">
        <div class="contact-wrapper">
            <div class="contact-title">
                <img src="asset/user-alt.svg" alt="User Icon">
                <p>Kontak</p>
            </div>
            <div>
                <p>Whatsapp :<br>+62 895-0512-0447</p>
            </div>
            <div>
                <p>Telepon :<br>+62 895-0512-0447</p>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="footer-content">
                <div class="content">
                    <p class="title">Sosial Media</p>
                    <div>
                        <img src="asset/instagram.svg" alt="Instagram Icon">
                        <a href="https://www.instagram.com/jasofa_clean_magelang">@jasofa</a>
                    </div>
                    <div>
                        <img src="asset/tiktok-brands.svg" alt="Tiktok Icon">
                        <a href="https://www.tiktok.com/@cucisofamagelang">@jasofa</a>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Quick Links</p>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="index.html">Beranda</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="about.html">Tentang Kami</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Layanan</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="price-list.html">Daftar Harga</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="contact.html">Kontak</a>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Layanan Kami</p>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Cuci Sofa</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Cuci Sprinbed</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Cuci Kursi Kantor</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Cuci Jok Mobil</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Cuci Karpet</a>
                    </div>
                </div>
                <div class="content contact-wrapper-resp">
                    <p class="title">Kontak</p>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">+62 895-0512-0447 (Whatsapp)</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">+62 895-0512-0447 (Telepon)</a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>"© 2025 Jasofa Clean. <span >All rights reserved</span>. Designer by <a href="">Ilham Ramadhani</a>, Developer by <a href="">Akmal Yunus</a></p>
            </div>
        </div>
    </div>
    
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/navbar.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>