<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/style/home.css">
</head>
<body>
    <!-- <div class="small-navbar"></div> -->
    <div class="container-navbar">
        <div class="navbar">
            <img class="logo" src="../public/asset/logo.svg" alt="logo jasofa">
            <img class="hamburger" id="hamburger" src="../public/asset/hamburger.svg" alt="">
            <div class="ul" id="ul-navbar">
                <div class="list active">
                    <p>Beranda</p>
                    <img src="../public/asset/bottom_line.svg" alt="bottom line">
                </div>
                <div class="list">
                    <p>Tentang Kami</p>
                </div>
                <div class="list">
                    <p>Servis</p>
                </div>
                <div class="list">
                    <p>Harga</p>
                </div>
                <div class="list">
                    <p>Kontak</p>
                </div>
            </div>
        </div>
        <div class="title">
            <h1>SOLUSI</h1>
            <p>Kebersihan & Kenyamanan</p>
        </div>
        <img src="../public/asset/benner.webp" alt="benner">
    </div>

    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/js/home.js"></script>
</body>
</html>