<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jasa cuci sofa, springbed, kursi, jok mobil, karpet professional di Magelang dan Jogja. Bersih maksimal, harga terjangkau, teknisi berpengalaman. Memiliki banyak ulasan positif dan terpercaya sejak 2019">
    <meta name="keywords" content="cleaning sofa magelang, cleaning sofa jogja magelang, cuci sofa magelang, cuci sofa jogja magelang, cuci karpet magelang, cuci karpet jogja magelang, cuci kursi magelang, cuci kursi jogja magelang, cuci kursi kantor magelang, cuci kursi kantor jogja magelang, cuci jok mobil magelang, cuci jok mobil jogja magelang, cuci springbed jogja magelang, cuci springbed magelang">
    <title>Jasofa - Layanan Jasa Cuci Sofa Springbed Kursi Karpet Jok Mobil</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/body.css">
    <link rel="stylesheet" href="style/home.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="container-navbar">
        <div class="navbar">
            <img class="logo" src="asset/logo.svg" alt="logo jasofa">
            <img class="hamburger" id="hamburger" src="asset/hamburger.svg" alt="">
            <div class="ul" id="ul-navbar">
                <a href="index.html" class="list active">
                    <p>Beranda</p>
                    <img src="asset/bottom_line.svg" alt="bottom line">
                </a>
                <a href="about.html" class="list">
                    <p>Tentang Kami</p>
                </a>
                <a href="service.html" class="list">
                    <p>Servis</p>
                </a>
                <a href="price-list.html" class="list">
                    <p>Harga</p>
                </a>
                <a href="contact.html" class="list">
                    <p>Kontak</p>
                </a>
            </div>
        </div>
        <div class="title">
            <h1>SOLUSI</h1>
            <p>Kebersihan & Kenyamanan</p>
        </div>
        <img src="asset/benner.webp" alt="benner">
    </div>

    <div class="container-body">
        <div class="container-overview">
            <div class="welcoming-word" data-aos="fade-up" data-aos-duration="700">
                <h1 class="title">Jasa Cuci Sofa, Karpet, Sprinbed, Kursi, Jok Mobil di Magelang & Jogja</h1>
                <div class="description">
                    <p>Selamat datang di layanan kebersihan profesional kami di Magelang! Kami siap membantu menjaga kebersihan sofa, springbed, dll dengan peralatan canggih serta bahan ramah lingkungan.</p>
                    <p>Percayakan kebersihan ruang Anda kepada tim ahli kami sejak 2019. Kami melayani perumahan, perkantoran, hotel, dan tempat ibadah dengan garansi kepuasan pelanggan.</p>
                    <a href="" class="btn-checkout">
                        <img src="asset/shopping-cart_.svg" alt="shopping-cart-icon">Pesan Sekarang
                    </a>
                </div>
            </div>
            <div class="img-preview">
                <img src="asset/Frame 25.webp" alt="" srcset="">
            </div>
        </div>
        <div class="container-service">
            <div class="title-wrapper">
                <h1 class="title">Layanan apa saja yang tersedia</h1>
            </div>
            <div class="service-list">
                <div class="service" data-aos="flip-left" data-aos-duration="700" data-aos-delay="50">
                    <img src="asset/couch.svg" alt="Sofa Icon">
                    <p class="service-title">Cuci Sofa</p>
                    <p>Menghilangkan noda, debu, dan bau tidak sedap agar sofa kembali nyaman.</p>
                </div>
                <div class="service" data-aos="flip-right" data-aos-duration="700" data-aos-delay="50">
                    <img src="asset/bed.svg" alt="Bed Icon">
                    <p class="service-title">Cuci Springbed</p>
                    <p>Membersihkan kotoran yang tersembunyi untuk tidur lebih sehat.</p>
                </div>
                <div class="service" data-aos="flip-left" data-aos-duration="700" data-aos-delay="250">
                    <img src="asset/car-seat.svg" alt="Car Seat Icon">
                    <p class="service-title">Cuci Jok Mobil</p>
                    <p>Menjaga kebersihan dan kenyamanan kendaraan Anda.</p>
                </div>
                <a href="service.html" class="service" data-aos="flip-left" data-aos-duration="700" data-aos-delay="250">
                    <img src="asset/horizontal_ellipsis.svg" alt="Other Icon">
                    <p class="service-title">Cuci Lainnya</p>
                    <p>Lihat lebih banyak layanan kami</p>
                </a>
            </div>
        </div>
        <div class="container-advantages">
            <h1>Keunggulan Jasofa Cleaning</h1>
            <div class="advantage-wrapper">
                <div class="advantage">
                    <div class="content" data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">
                        <img src="asset/check.svg" alt="Check Icon">
                        <p>Memberikan <span>garansi kepuasan</span> kepada pelanggan.</p>
                    </div>
                    <div class="content" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                        <img src="asset/check.svg" alt="Check Icon">
                        <p>Layanan berkualitas dengan <span>harga yang terjangkau</span> dan <span>ramah di kantong</span>.</p>
                    </div>
                    <div class="content" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                        <img src="asset/check.svg" alt="Check Icon">
                        <p>Memiliki <span>jangkauan luas</span>, mencakup perumahan, perkantoran, tempat ibadah, hotel, homestay, kost, dan lainnya.</p>
                    </div>
                    <div class="content" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                        <img src="asset/check.svg" alt="Check Icon">
                        <p>Melayani <span>panggilan</span> ke lokasi.</p>
                    </div>
                </div>
                <div class="advantage">
                    <div class="content" data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">
                        <img src="asset/check.svg" alt="Check Icon">
                        <p>Menggunakan <span>sabun organik berkualitas</span> yang ramah terhadap bahan dan lingkungan serta <span>bebas dari bahan kimia berbahaya</span>.</p>
                    </div>
                    <div class="content" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                        <img src="asset/check.svg" alt="Check Icon">
                        <p>Terbukti terpercaya, dibuktikan dengan berbagai <span>umpan balik positif</span> dari pelanggan selama <span>lebih dari 4 tahun</span>.</p>
                    </div>
                    <div class="content" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                        <img src="asset/check.svg" alt="Check Icon">
                        <p><span>Berkomitmen</span> untuk menjaga kualitas pelayanan dan kepuasan pelanggan.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-footer">
        <div class="contact-wrapper">
            <div class="contact-title">
                <img src="asset/user-alt.svg" alt="User Icon">
                <p>Kontak</p>
            </div>
            <div>
                <p>Whatsapp :<br>+62 895-0512-0447</p>
            </div>
            <div>
                <p>Telepon :<br>+62 895-0512-0447</p>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="footer-content">
                <div class="content">
                    <p class="title">Sosial Media</p>
                    <div>
                        <img src="asset/instagram.svg" alt="Instagram Icon">
                        <a href="">@jasofa</a>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Quick Links</p>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Beranda</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Tentang Kami</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Layanan</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Kontak</a>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Layanan Kami</p>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Sofa</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Sprinbed</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Kursi Kantor</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Jok Mobil</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Karpet</a>
                    </div>
                </div>
                <div class="content contact-wrapper-resp">
                    <p class="title">Kontak</p>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">+62 895-0512-0447 (Whatsapp)</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">+62 895-0512-0447 (Telepon)</a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>"© 2025 Jasofa Clean. <span >All rights reserved</span>. Designer by <a href="">Ilham Ramadhani</a>, Developer by <a href="">Akmal Yunus</a></p>
            </div>
        </div>
    </div>

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/home.js"></script>
    <script src="js/navbar.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>