<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Daftar harga cuci sofa, springbed, kursi, jok mobil, karpet professional di Magelang dan Jogja. Harga terjangkau dengan hasil maksimal dan teknisi berpengalaman.">
    <meta name="keywords" content="harga cuci sofa magelang, harga cuci sofa jogja magelang, harga cuci karpet magelang, harga cuci karpet jogja magelang, harga cuci kursi magelang, harga cuci kursi jogja magelang, harga cuci kursi kantor magelang, harga cuci kursi kantor jogja magelang, harga cuci jok mobil magelang, harga cuci jok mobil jogja magelang, harga cuci springbed jogja magelang, harga cuci springbed magelang">
    <title>Jasofa - Daftar Harga Cuci Sofa Springbed Kursi Karpet Jok Mobil</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/body.css">
    <link rel="stylesheet" href="style/price-list.css">
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="container-navbar">
        <div class="navbar">
            <img class="logo" src="asset/logo.svg" alt="logo jasofa">
            <img class="hamburger" id="hamburger" src="asset/hamburger.svg" alt="">
            <div class="ul" id="ul-navbar">
                <a href="index.html" class="list">
                    <p>Beranda</p>
                </a>
                <a href="about.html" class="list">
                    <p>Tentang Kami</p>
                </a>
                <a href="service.html" class="list">
                    <p>Servis</p>
                </a>
                <a href="price-list.html" class="list active">
                    <p>Harga</p>
                    <img src="asset/bottom_line.svg" alt="bottom line">
                </a>
                <a href="contact.html" class="list">
                    <p>Kontak</p>
                </a>
            </div>
        </div>
        <div class="title-wrapper">
            <div class="title">
                <h1>Harga</h1>
                <p>Daftar Harga</p>
            </div>
        </div>
        <img src="asset/benner.webp" alt="benner">
    </div>

    <div class="container-body">
        <div class="container-price-list">
            <h1>Daftar Harga Jasofa</h1>
            <div class="price-list">
                <div class="price-list-wrapper">
                    <div class="title-item">
                        <p>1. Sofa</p>
                    </div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <div class="item-name">
                                <p>Sofa Standard</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 40.000/dudukan</p>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <div class="item-name">
                                <p>Sofa Jumbo</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 50.000/dudukan</p>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                            <div class="item-name">
                                <p>Sofa Bed</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 150.000/dudukan</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price-list-wrapper">
                    <div class="title-item">
                        <p>2. Kursi</p>
                    </div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <div class="item-name">
                                <p>Kursi Kantor</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 25.000/dudukan</p>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <div class="item-name">
                                <p>Kursi Makan</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 25.000/dudukan</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price-list-wrapper">
                    <div class="title-item">
                        <p>3. Karpet</p>
                    </div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <div class="item-name">
                                <p>Karpet Kantor</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 12.000/m²</p>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <div class="item-name">
                                <p>Karpet Gulung</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 15.000/m²</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price-list-wrapper">
                    <div class="title-item">
                        <p>4. Springbed</p>
                    </div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <div class="item-name">
                                <p>Springbed No 3</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 140.000/dudukan</p>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <div class="item-name">
                                <p>Springbed No 2</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 160.000/dudukan</p>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                            <div class="item-name">
                                <p>Springbed No 1</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 180.000/dudukan</p>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                            <div class="item-name">
                                <p>King Koil Super</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 200.000/dudukan</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price-list-wrapper">
                    <div class="title-item">
                        <p>5. Jok Mobil</p>
                    </div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <div class="item-name">
                                <p>Jok Mobik</p>
                            </div>
                            <div class="item-price">
                                <p>Rp. 50.000/dudukan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-footer">
        <div class="contact-wrapper">
            <div class="contact-title">
                <img src="asset/user-alt.svg" alt="User Icon">
                <p>Kontak</p>
            </div>
            <div>
                <p>Whatsapp :<br>+62 895-0512-0447</p>
            </div>
            <div>
                <p>Telepon :<br>+62 895-0512-0447</p>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="footer-content">
                <div class="content">
                    <p class="title">Sosial Media</p>
                    <div>
                        <img src="asset/instagram.svg" alt="Instagram Icon">
                        <a href="">@jasofa</a>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Quick Links</p>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Beranda</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Tentang Kami</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Layanan</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Kontak</a>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Layanan Kami</p>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Sofa</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Sprinbed</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Kursi Kantor</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Jok Mobil</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Karpet</a>
                    </div>
                </div>
                <div class="content contact-wrapper-resp">
                    <p class="title">Kontak</p>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">+62 895-0512-0447 (Whatsapp)</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">+62 895-0512-0447 (Telepon)</a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>"© 2025 Jasofa Clean. <span >All rights reserved</span>. Designer by <a href="">Ilham Ramadhani</a>, Developer by <a href="">Akmal Yunus</a></p>
            </div>
        </div>
    </div>
    
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/navbar.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>