<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasofa | Daftar Layanan Jasofa Cuci Sofa, Springbed, Karpet, Kursi dan Jok Mobil</title>
    <link rel="preload" as="image" href="asset/benner.webp">
    <link rel="preload" as="image" href="asset/service.webp">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/body.css">
    <link rel="stylesheet" href="style/service.css">
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="container-navbar">
        <div class="navbar">
            <a href="index.html"><img class="logo" src="asset/logo.svg" alt="Logo Jasofa"></a>
            <img class="hamburger" id="hamburger" src="asset/hamburger.svg" alt="Hamburger Icon">
            <div class="ul" id="ul-navbar">
                <a href="index.html" class="list">
                    <p>Beranda</p>
                </a>
                <a href="about.html" class="list">
                    <p>Tentang Kami</p>
                </a>
                <a href="service.html" class="list active">
                    <p>Servis</p>
                    <img src="asset/bottom_line.svg" alt="bottom line">
                </a>
                <a href="price-list.html" class="list">
                    <p>Harga</p>
                </a>
                <a href="contact.html" class="list">
                    <p>Kontak</p>
                </a>
            </div>
        </div>
        <div class="title-wrapper">
            <div class="title">
                <h1>Servis</h1>
                <p>Layanan Kami</p>
            </div>
        </div>
        <img src="asset/benner.webp" alt="benner">
    </div>

    <div class="container-body">
        <div class="container-overview">
            <div class="welcoming-word" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                <h1 class="title">Jasofa menyediakan layanan Cuci Sofa, Springbed, Karpet, Kursi dan Jok Mobil untuk anda!</h1>
                <!-- <h1 class="title">Siap membantu masalah anda!</h1> -->
                <div class="description">
                    <!-- <p>Jasa Cuci Sofa, Springbed, Karpet, Kursi dan Jok Mobil. Bersih, Segar, Seperti Baru! Perabotan yang bersih tidak hanya membuat rumah atau kendaraan lebih nyaman, tetapi juga lebih sehat bagi keluarga.</p>
                    <p>Seiring waktu, sofa, springbed, jok mobil, dan karpet menumpuk debu, kotoran, hingga bakteri yang sulit dibersihkan. Kami hadir dengan layanan cuci profesional yang tidak hanya membersihkan, tetapi juga merawat perabotan agar tetap awet dan segar seperti baru!</p> -->
                    <p>Butuh jasa cuci sofa, springbed, karpet, kursi, atau jok mobil? Kami menyediakan layanan cuci profesional yang membuat perabotan Anda kembali bersih, segar, dan terlihat seperti baru. Solusi tepat untuk rumah dan kendaraan yang nyaman dan higienis!</p>
                    <p>Sofa, springbed, jok mobil, dan karpet mudah menyimpan debu, noda, dan bakteri. Layanan cuci kami menggunakan teknologi pembersih modern dan sabun organik berkualitas untuk membersihkan secara menyeluruh serta menjaga kualitas dan keawetan perabot Anda. Percayakan pada ahli cuci profesional untuk hasil maksimal!</p>
                    <!-- <a href="" class="btn-checkout">
                        <img src="asset/shopping-cart_.svg" alt="shopping-cart-icon">Pesan Sekarang
                    </a> -->
                </div>
            </div>
            <div class="img-preview">
                <img src="asset/service.webp" alt="Daftar Layanan Jasofa" srcset="">
            </div>
        </div>
        <div class="container-services">
            <div class="service">
                <h2>Layanan Jasofa</h2>
                <div class="service-wrapper">
                    <h3 class="title-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="0">1. Cuci Sofa</h3>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/sofa/sofa_1.webp" alt="Hasil Layanan Cuci Sofa" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/sofa/sofa_2.webp" alt="Hasil Layanan Cuci Sofa" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/sofa/sofa_3.webp" alt="Hasil Layanan Cuci Sofa" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/sofa/sofa_4.webp" alt="Hasil Layanan Cuci Sofa" loading="lazy">
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/sofa/sofa_5.webp" alt="Hasil Layanan Cuci Sofa" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/sofa/sofa_6.webp" alt="Hasil Layanan Cuci Sofa" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/sofa/sofa_7.webp" alt="Hasil Layanan Cuci Sofa" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/sofa/sofa_8.webp" alt="Hasil Layanan Cuci Sofa" loading="lazy">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <p>Menghilangkan noda, debu, dan bau tak sedap agar sofa kembali nyaman.</p>
                            <h3 class="range-price">Rp. 30.000 - Rp. 150.000</h3>
                        </div>
                        <a href="price-list.html" class="btn-detail-price">
                            Lihat Detail Harga
                        </a>
                    </div>
                </div>
                <div class="service-wrapper">
                    <h3 class="title-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="0">2. Cuci Springbed</h3>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/springbed/springbed_1.webp" alt="Hasil Layanan Cuci Springbed" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/springbed/springbed_2.webp" alt="Hasil Layanan Cuci Springbed" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/springbed/springbed_3.webp" alt="Hasil Layanan Cuci Springbed" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/springbed/springbed_4.webp" alt="Hasil Layanan Cuci Springbed" loading="lazy">
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/springbed/springbed_5.webp" alt="Hasil Layanan Cuci Springbed" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/springbed/springbed_6.webp" alt="Hasil Layanan Cuci Springbed" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/springbed/springbed_7.webp" alt="Hasil Layanan Cuci Springbed" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/springbed/springbed_8.webp" alt="Hasil Layanan Cuci Springbed" loading="lazy">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <p>Membersihkan kotoran yang tersembunyi untuk tidur lebih sehat.</p>
                            <h3 class="range-price">Rp. 140.000 - Rp. 200.000</h3>
                        </div>
                        <a href="price-list.html" class="btn-detail-price">
                            Lihat Detail Harga
                        </a>
                    </div>
                </div>
                <div class="service-wrapper">
                    <h3 class="title-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="0">3. Cuci Karpet</h3>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/carpet/carpet_1.webp" alt="Hasil Layanan Cuci Karpet" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/carpet/carpet_2.webp" alt="Hasil Layanan Cuci Karpet" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/carpet/carpet_3.webp" alt="Hasil Layanan Cuci Karpet" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/carpet/carpet_4.webp" alt="Hasil Layanan Cuci Karpet" loading="lazy">
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/carpet/carpet_5.webp" alt="Hasil Layanan Cuci Karpet" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/carpet/carpet_6.webp" alt="Hasil Layanan Cuci Karpet" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/carpet/carpet_5.webp" alt="Hasil Layanan Cuci Karpet" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/carpet/carpet_1.webp" alt="Hasil Layanan Cuci Karpet" loading="lazy">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <p>Menghilangkan debu dan kotoran agar ruangan lebih segar.</p>
                            <h3 class="range-price">Rp. 12.000 - Rp. 15.000</h3>
                        </div>
                        <a href="price-list.html" class="btn-detail-price">
                            Lihat Detail Harga
                        </a>
                    </div>
                </div>
                <div class="service-wrapper" data-aos="fade-up" data-aos-duration="700" data-aos-delay="0">
                    <h3 class="title-service">4. Cuci Kursi</h3>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/seat/seat_1.webp" alt="Hasil Layanan Cuci Kursi" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/seat/seat_2.webp" alt="Hasil Layanan Cuci Kursi" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/seat/seat_3.webp" alt="Hasil Layanan Cuci Kursi" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/seat/seat_4.webp" alt="Hasil Layanan Cuci Kursi" loading="lazy">
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/seat/seat_5.webp" alt="Hasil Layanan Cuci Kursi" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/seat/seat_6.webp" alt="Hasil Layanan Cuci Kursi" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/seat/seat_7.webp" alt="Hasil Layanan Cuci Kursi" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/seat/seat_8.webp" alt="Hasil Layanan Cuci Kursi" loading="lazy">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <p>Membantu menjaga kebersihan di tempat kerja.</p>
                            <h3 class="range-price">Rp. 25.000</h3>
                        </div>
                        <a href="price-list.html" class="btn-detail-price">
                            Lihat Detail Harga
                        </a>
                    </div>
                </div>
                <div class="service-wrapper">
                    <h3 class="title-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="0">5. Cuci Jok Mobil</h3>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/car_seat/car_seat_1.webp" alt="Hasil Layanan Cuci Jok Mobil" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/car_seat/car_seat_2.webp" alt="Hasil Layanan Cuci Jok Mobil" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/car_seat/car_seat_3.webp" alt="Hasil Layanan Cuci Jok Mobil" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/car_seat/car_seat_4.webp" alt="Hasil Layanan Cuci Jok Mobil" loading="lazy">
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/car_seat/car_seat_5.webp" alt="Hasil Layanan Cuci Jok Mobil" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/car_seat/car_seat_6.webp" alt="Hasil Layanan Cuci Jok Mobil" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/car_seat/car_seat_7.webp" alt="Hasil Layanan Cuci Jok Mobil" loading="lazy">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/car_seat/car_seat_8.webp" alt="Hasil Layanan Cuci Jok Mobil" loading="lazy">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <p>Menjaga kebersihan dan kenyamanan kendaraan Anda.</p>
                            <h3 class="range-price">Rp. 50.000</h3>
                        </div>
                        <a href="price-list.html" class="btn-detail-price">
                            Lihat Detail Harga
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-footer">
        <div class="contact-wrapper">
            <a href="index.html"><img src="asset/logo.svg" alt="Logo Jafofa" class="logo"></a>
        </div>
        <div class="content-wrapper">
            <div class="footer-content">
                <div class="content">
                    <p class="title">Sosial Media</p>
                    <div>
                        <img src="asset/instagram.svg" alt="Instagram Icon" loading="lazy">
                        <a href="https://www.instagram.com/jasofa_clean_magelang">@jasofa</a>
                    </div>
                    <div>
                        <img src="asset/tiktok-brands.svg" alt="Tiktok Icon" loading="lazy">
                        <a href="https://www.tiktok.com/@cucisofamagelang">@jasofa</a>
                    </div>
                    <div>
                        <img src="asset/whatsapp-brands.svg" alt="Whatsapp Icon" loading="lazy">
                        <a href="https://wa.me/c/6289505120447">+62 895-0512-0447</a>
                    </div>
                    <div>
                        <img src="asset/phone-solid.svg" alt="Tiktok Icon" loading="lazy">
                        <p>+62 895-0512-0447</p>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Quick Links</p>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="index.html">Beranda</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="about.html">Tentang Kami</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Layanan</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="price-list.html">Daftar Harga</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="contact.html">Kontak</a>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Layanan Kami</p>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Cuci Sofa</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Cuci Sprinbed</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Cuci Kursi Kantor</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Cuci Jok Mobil</a>
                    </div>
                    <div>
                        <img class="arrow-icon" src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="service.html">Cuci Karpet</a>
                    </div>
                </div>
                <div class="content contact-wrapper-resp">
                    <img src="asset/logo.svg" alt="Logo Jafofa" style="height: 100%; width: 100%;">
                </div>
            </div>
            <div class="copyright">
                <p>"© 2025 Jasofa Clean. <span >All rights reserved</span>. Designer by <a href="">Ilham Ramadhani</a>, Developer by <a href="">Akmal Yunus</a></p>
            </div>
        </div>
    </div>

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/navbar.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>