<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasofa | Servis</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/body.css">
    <link rel="stylesheet" href="style/service.css">
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="container-navbar">
        <div class="navbar">
            <img class="logo" src="asset/logo.svg" alt="logo jasofa">
            <img class="hamburger" id="hamburger" src="asset/hamburger.svg" alt="">
            <div class="ul" id="ul-navbar">
                <a href="index.html" class="list">
                    <p>Beranda</p>
                </a>
                <a href="about.html" class="list">
                    <p>Tentang Kami</p>
                </a>
                <a href="service.html" class="list active">
                    <p>Servis</p>
                    <img src="asset/bottom_line.svg" alt="bottom line">
                </a>
                <a href="price-list.html" class="list">
                    <p>Harga</p>
                </a>
                <a href="contact.html" class="list">
                    <p>Kontak</p>
                </a>
            </div>
        </div>
        <div class="title-wrapper">
            <div class="title">
                <h1>Servis</h1>
                <p>Layanan Kami</p>
            </div>
        </div>
        <img src="asset/benner.webp" alt="benner">
    </div>

    <div class="container-body">
        <div class="container-overview">
            <div class="welcoming-word" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                <h1 class="title">Siap membantu masalah anda!</h1>
                <div class="description">
                    <p>Jasa Cuci Sofa, Springbed, Jok Mobil, dan Lainnya – Bersih, Segar, Seperti Baru! Perabotan yang bersih tidak hanya membuat rumah atau kendaraan lebih nyaman, tetapi juga lebih sehat bagi keluarga.</p>
                    <p>Seiring waktu, sofa, springbed, jok mobil, dan karpet menumpuk debu, kotoran, hingga bakteri yang sulit dibersihkan. Kami hadir dengan layanan cuci profesional yang tidak hanya membersihkan, tetapi juga merawat perabotan agar tetap awet dan segar seperti baru!</p>
                    <!-- <a href="" class="btn-checkout">
                        <img src="asset/shopping-cart_.svg" alt="shopping-cart-icon">Pesan Sekarang
                    </a> -->
                </div>
            </div>
            <div class="img-preview">
                <img src="asset/Frame 25.webp" alt="" srcset="">
            </div>
        </div>
        <div class="container-services">
            <div class="service">
                <h1>Layanan Kami</h1>
                <div class="service-wrapper">
                    <p class="title-service">1. Cuci Sofa</p>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <p>Menghilangkan noda, debu, dan bau tak sedap agar sofa kembali nyaman.</p>
                            <h2 class="range-price">Rp. 40.000 - Rp. 150.000</h2>
                        </div>
                        <a href="" class="btn-detail-price">
                            Lihat Detail Harga
                        </a>
                    </div>
                </div>
                <div class="service-wrapper">
                    <p class="title-service">2. Cuci Springbed</p>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <p>Membersihkan kotoran yang tersembunyi untuk tidur lebih sehat.</p>
                            <h2 class="range-price">Rp. 140.000 - Rp. 200.000</h2>
                        </div>
                        <a href="" class="btn-detail-price">
                            Lihat Detail Harga
                        </a>
                    </div>
                </div>
                <div class="service-wrapper">
                    <p class="title-service">3. Cuci Kursi</p>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <p>Membantu menjaga kebersihan di tempat kerja.</p>
                            <h2 class="range-price">Rp. 25.000</h2>
                        </div>
                        <a href="" class="btn-detail-price">
                            Lihat Detail Harga
                        </a>
                    </div>
                </div>
                <div class="service-wrapper">
                    <p class="title-service">4. Cuci Jok Mobil</p>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <p>Menjaga kebersihan dan kenyamanan kendaraan Anda.</p>
                            <h2 class="range-price">Rp. 50.000</h2>
                        </div>
                        <a href="" class="btn-detail-price">
                            Lihat Detail Harga
                        </a>
                    </div>
                </div>
                <div class="service-wrapper">
                    <p class="title-service">5. Cuci Karpet</p>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                        <div class="img-service" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <img src="asset/Frame 83.webp" alt="">
                        </div>
                    </div>
                    <div class="description-wrapper">
                        <div class="description">
                            <p>Menghilangkan debu dan kotoran agar ruangan lebih segar.</p>
                            <h2 class="range-price">Rp. 12.000 - Rp. 15.000</h2>
                        </div>
                        <a href="" class="btn-detail-price">
                            Lihat Detail Harga
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-footer">
        <div class="contact-wrapper">
            <div class="contact-title">
                <img src="asset/user-alt.svg" alt="User Icon">
                <p>Kontak</p>
            </div>
            <div>
                <p>Whatsapp :<br>+62 895-0512-0447</p>
            </div>
            <div>
                <p>Telepon :<br>+62 895-0512-0447</p>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="footer-content">
                <div class="content">
                    <p class="title">Sosial Media</p>
                    <div>
                        <img src="asset/instagram.svg" alt="Instagram Icon">
                        <a href="">@jasofa</a>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Quick Links</p>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Beranda</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Tentang Kami</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Layanan</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Kontak</a>
                    </div>
                </div>
                <div class="content">
                    <p class="title">Layanan Kami</p>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Sofa</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Sprinbed</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Kursi Kantor</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Jok Mobil</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">Cuci Karpet</a>
                    </div>
                </div>
                <div class="content contact-wrapper-resp">
                    <p class="title">Kontak</p>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">+62 895-0512-0447 (Whatsapp)</a>
                    </div>
                    <div>
                        <img src="asset/arrow.svg" alt="Arrow Icon">
                        <a href="">+62 895-0512-0447 (Telepon)</a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>"© 2025 Jasofa Clean. <span >All rights reserved</span>. Designer by <a href="">Ilham Ramadhani</a>, Developer by <a href="">Akmal Yunus</a></p>
            </div>
        </div>
    </div>

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/navbar.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>