/* Start Navbar Section */
.container-navbar {
    width: auto; /*width default akan mengikuti setiap ukuran layar*/
    height: 100vh;
    max-height: 1117px;
    padding: 0px;
    z-index: 1;
}

.container-navbar .navbar {
    position: fixed;
    width: 100%; /*width yang akan memenuhi ukuran container pembungkusnya*/
    min-width: 270px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: auto;
    padding: 10px 20px;
    z-index: 1;
    background-color: #06A3DA;
    box-shadow: 0px 1px 6px #a2a6ae;
}

.container-navbar .navbar .logo {
    width: 160px;
    height: 47px;
}

.container-navbar .navbar .ul {
    height: 100%;
    width: auto; /*width yang juga dapat mengikuti ukuran didalamnya*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
}

.container-navbar .navbar .hamburger {
    display: none;
    width: 35px;
    height: 27px;
}

.container-navbar .navbar .ul .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    font-size: 16px;
}

.container-navbar .navbar .ul .active {
    font-family: 'Inter-Bold', sans-serif;
}

.container-navbar .navbar .ul .list p {
    margin-bottom: 0px;
    color: #0f3645;
}

.container-navbar .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #F6FEFF;
}

.container-navbar .title p {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 36px;
    color: #F6FEFF;
    text-shadow: 2px 2px 10px #0f3645;
}

.container-navbar img {
    width: 100%;
    height: 100%;
}
/* End Navbar Section */


/* Start Container Body Section */
.container-body {
    padding: 0px 65px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* Start Overview */
.container-overview {
    width: 100%;
    height: auto;
    row-gap: 25px;
    /* display: grid;
    grid-template-columns: 70% auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-overview .welcoming-word {
    width: 100%;
    height: auto;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-overview .welcoming-word .title {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 26px;
    color: #073145;
}

.container-overview .welcoming-word .description {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-overview .welcoming-word .description p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #073145;
    margin-bottom: 0px;
}

.container-overview .welcoming-word .description .btn-checkout {
    width: 239px;
    height: auto;
    background-color: #06A3DA;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: #073145;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    transition: .2s ease-in-out;
}

.container-overview .welcoming-word .description .btn-checkout:hover {
    box-shadow: 0px 0px 7px #061429;
    transition: .2s ease-in-out;
}

.container-overview .welcoming-word .description .btn-checkout img {
    margin-right: 8px;
}

.container-overview .img-preview {
    width: 43%;
    height: 450px;
    min-width: 270px;
}

.container-overview .img-preview img {
    width: 100%;
    height: 100%;
}
/* End Overview */

/* Start Service */
.container-service {
    width: 100%;
    height: auto;
    min-width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 25px;
}

.container-service .title-wrapper {
    width: 100%;
} 

.container-service .title {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 26px;
    color: #073145;
}

.container-service .service-list {
    width: 100%;
    height: auto;
    min-width: 270px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.container-service .service-list .service {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13px;
    padding: 12px 20px;
    box-shadow: 6px 6px 12px #a2a6ae;
    border-radius: 8px;
    text-decoration: none;
    transition: .6s ease;
}

.container-service .service-list .service:hover {
    background-color: #061429;
    transition: .6s ease;
}

.container-service .service-list .service:hover p {
    color: #F6FEFF;
    transition: .6s ease;
}

.container-service .service-list .service p {
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #061429;
}

.container-service .service-list .service .service-title {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 18px;
}
/* End Service */

/* Start Advantages */
.container-advantages {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.container-advantages .title {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 26px;
    margin-bottom: 0px;
}

.container-advantages .advantage-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 7px;
}

.container-advantages .advantage-wrapper span {
    color: #06A3DA;
}

.container-advantages .advantage-wrapper .advantage {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}

.container-advantages .advantage-wrapper .advantage .content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 25px;
    gap: 8px;
    box-shadow: 6px 6px 12px #a2a6ae;
    border-radius: 8px;
}

.container-advantages .advantage-wrapper .advantage .content p, a {
    margin-bottom: 0px;
    color: #061429;
}
/* End Advantages */

/* @media screen and (max-width: 710px) { */
@media screen and (max-width: 930px) {
    /* Start Navbar Section */
    .container-navbar .navbar .logo {
        width: 160px;
        height: 47px;
    }

    .container-navbar .navbar .ul {
        width: 100%;
        height: auto;
        gap: 0px;
        top: -500px;
        left: 0;
        position: absolute;
        flex-direction: column;
        background-color: #06A3DA;
        border-radius: 8px;
    }
    
    #ul-navbar {
        transition: 1s ease;
    }
    
    #ul-navbar.show {
        top: 90px;
        transition: 1s ease;
        display: flex;
    }

    .container-navbar .navbar .ul .list {
        width: 100%;
        padding: 8px 0px;
    }

    .container-navbar .navbar .ul .active img {
        display: none;
    }

    .container-navbar .navbar .ul .list:hover {
        background-color: #061429;
    }

    .container-navbar .navbar .hamburger {
        display: block;
    }
    /* End Navbar Section */


    /* Start Container Body Section */
    .container-body {
        padding: 0px 33px;
    }
    /* Start Overview */
    .container-overview {
        flex-direction: column;
    }

    .container-overview .img-preview {
        width: 100%;
    }
    /* End Overview */

    /* Start Service */
    .container-service {
        flex-direction: column;
    }

    .container-service .service-list .service {
        width: 100%;
    }
    /* End Service */

    /* Start Advantages */
    .container-advantages .advantage-wrapper {
        flex-direction: column;
    }
    /* End Advantages */

    /* End Container Body Section */
}